.selection-container{
 position: relative;
  left: 15%;
  top: -6vh;
} 


.selection-drop-down{
 background-color: white;
  display: block;
  width: 20%;
  min-width: 0em;
  cursor: pointer;
  height: 2.5rem;
  border: 1px solid rgba(34,36,38,.15); 
  border-radius: 1rem;

}
/* 

.selection-drop-down option{
    border:none;
    white-space: normal;
    cursor: pointer;

} */